<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h3>Events created by <%= @user.name %> </h3>

<ul>
<%= render partial: "events", collection: list_events, as: :event %>
</ul>

<%= link_to 'Back', users_path %>
