<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h3>Events created by <%= @user.name %> </h3>

<h4>Upcoming:</h4>
<ul><%= render partial: "events", collection: events_grouped_by_date[:upcoming], as: :event %></ul>

<hr>

<h4>Previous:</h4>
<ul><%= render partial: "events", collection: events_grouped_by_date[:previous], as: :event %></ul>

<%= link_to 'Back', users_path %>
