<tr>
  <td>Date: <%= event.date %></td>
  <td>Title: <%= event.title %></td>
  <td>Location: <%= event.location %></td>
  <td>Description: <%= event.description %></td>
  <td><%= link_to 'Show', event %></td>
  <br>
</tr>
